@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    var session = HttpContextAccessor.HttpContext.Session;
    var userName = session.GetString("UserName");
    var email = session.GetString("Email");
    var role = session.GetString("Role");
    var userId = session.GetInt32("UserId");
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="filters">
                <div class="left-panel">
                    <h3>Categories</h3>
                    <ul class="list-group" style="margin-bottom: 20px;">
                        <li class="list-group-item"><a href="#" class="category-link btn btn-primary btn-block" data-category="">All</a></li>
                        @foreach (var category in ViewBag.Categories)
                        {
                            <li class="list-group-item"><a href="#" class="category-link btn btn-primary btn-block" data-category="@category.Name">@category.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="right-panel">
                    <form id="filterForm" asp-action="Index" asp-controller="Home" method="get">
                        <input type="hidden" id="categoryFilter" name="categoryName" />
                        <input type="text" id="productName" name="productName" placeholder="Search by name" class="form-control mb-2" /> <!-- New input field for searching by product name -->
                        <button type="submit" id="applyFilterButton" class="btn btn-primary btn-block">Apply Filter</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="text-center">
                @if (!string.IsNullOrEmpty(userName))
                {
                    <h1>Welcome, @userName</h1>
                    <h2>Email: @email</h2>
                    <h2>Role: @role</h2>
                    @if (userId.HasValue)
                    {
                        <h2>User ID: @userId</h2>
                    }
                    <text>
                        <a asp-action="Logout" asp-controller="Account" class="btn btn-danger">Log out</a>
                    </text>
                }
                else
                {
                    <h2>Welcome, Guest</h2>
                    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
                }
            </div>

            <div class="product-grid">
                <div class="product-grid">
                    <div class="row">
                        @foreach (var product in Model)
                        {
                            <div class="col-md-4 product-item" data-category="@product.Category">
                                <div class="product-box" style="border:double;border-radius:5px;margin:10px;border-color:black">
                                    @if (!string.IsNullOrEmpty(product.PictureUrl))
                                    {
                                        <img src="@product.PictureUrl" alt="@product.Name" class="product-image" style="max-width: 100px; max-height: 100px;" />
                                    }

                                    <h3>@product.Name</h3>
                                    <p>@product.Description</p>
                                    <p>Price: $@product.Price</p>
                                    <p>Stock: @product.Stock</p>
                                    <form asp-controller="Order" asp-action="CreateOrder" method="post">
                                        <input type="hidden" name="userId" value="@userId" />
                                        <input type="hidden" name="productId" value="@product.ProductId" />
                                        <div class="form-group">
                                            <label for="quantity">Quantity:</label>
                                            <input type="number" id="quantity" name="quantity" value="1" min="1" style="width: 10%;" />
                                            <button type="submit" class="btn btn-primary">Add to Cart</button>
                                        </div>
                                    </form>
                                    <!-- Write a Review button -->
                                    <a href="@Url.Action("WriteReview", "Products", new { productId = product.ProductId })" class="btn btn-success">Write a Review</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>document.addEventListener('DOMContentLoaded', function () {
        var categoryLinks = document.querySelectorAll('.category-link');

        categoryLinks.forEach(function (link) {
            link.addEventListener('click', function (event) {
                event.preventDefault();
                var category = this.getAttribute('data-category');
                document.getElementById('categoryFilter').value = category;
                document.getElementById('filterForm').submit();
            });
        });
    });</script>
