@model IEnumerable<CourseWork_WebStore.Models.Product>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Picture URL</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Stock</td>
                <td>@product.PictureUrl</td>
                <td>
                    <a asp-action="Details" asp-route-id="@product.ProductId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@product.ProductId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
